.container{
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 60px 260px 600px 250px;
    grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}
body{
    margin: 0;
}


nav{
    grid-area: nav;
    display: flex;
    justify-content: center;
    background-color: gray;
}
.navbar ul{
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}
.Navbtn {
    margin: 20px;
    background-color: #fff;
    color: midnightblue;
    text-align: center;
    text-decoration: none;
    border: none;
    height: 20px;
    width: 60px;
    border-radius: 6px;
}





header{
    grid-area: header;
    background-color: red;
    text-align: center;
    padding: 2%;
}
.btn2{
    border: solid 1px black;
    text-align: center;
    float: center;
    bottom: 10px;
    position: relative;
}




main{
    grid-area: main;
    padding: 2%;
}




footer{
    grid-area: footer;
    background-color: brown;
    padding: 2%;   
}
.MainFooterContainer{
    display: flex;
    height: 200px;
}
.Footeritem{
    background-color: aquamarine;
    width: 50%;
    margin-top: 20%;
}
.Footeritem h4{
    margin: 0;
}
.Footeritem p{
    margin: 0;
}
.social-logo{
    max-height: 20px;
}
.Footeritem2{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-top: 10%;
    height: 150px;
}
.inneritem2{
    background-color: blueviolet;
    height: 20px;
    width: 33%;
}



@media (max-width:700px){
    .container{
        grid-template-areas:
        "nav nav nav nav"
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    }
}