.container{
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 60px 260px 600px 300px;
    grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}
body{
    margin: 0;
}


nav{
    grid-area: nav;
    display: flex;
    justify-content: center;
    background-color: gray;
}
.navbar ul{
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}
.Navbtn {
    margin: 20px;
    background-color: #fff;
    color: midnightblue;
    text-align: center;
    text-decoration: none;
    border: none;
    height: 20px;
    width: 60px;
    border-radius: 6px;
}





header{
    grid-area: header;
    background-color: red;
    text-align: center;
    padding: 2%;
}
input{
    display: block;
    margin: 20px auto;
    border: 2px solid black;
    width: 50%;
    height: 20px;
}
#sumbitKnapp{
    background-color: black;
    color: #fff;
    border-radius: 4px;
    width: 50%;
    height: 25px;
}





main{
    grid-area: main;
    padding: 2%;
}
.FAQcontainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;
    align-content: center;
}
.item{
    width: 26%;
    height: auto;
    background-color: aqua;
}




footer{
    grid-area: footer;
    background-color: brown;
    padding: 2%;   
}


@media (max-width:700px){
    .container{
        grid-template-areas:
        "nav nav nav nav"
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    }
}